
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 240px;
}

.btn{
    margin: 36px;
    padding: 8px 12px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}


.grid{
    border: 0.1px solid black;
    width: 31.25px;
    height: 31.25px;
}